<head>
    <title>W2UI Demo: forms-10</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />
</head>
<body>
    <div id="form" style="width: 750px;"></div>
<script type="text/javascript">
    $(function () {
        $('#form').w2form({
            name: 'form',
            header: 'Alta de usuario',
            fields: [
                {
                    field: 'nombre',
                    type: 'text',
                    required: true,
                    html: {
                        label: 'Nombre',
                        attr: 'style="width: 300px"'
                    }
                },
                {
                    field: 'email',
                    type: 'text',
                    required: true,
                    html: {
                        label: 'Correo',
                        attr: 'style="width: 300px"'
                    }
                },
                {
                    field: 'password',
                    type: 'password',
                    html: {
                        label: 'Contraseña',
                        attr: 'style="width: 300px;"'
                    }
                }
            ],
            actions: {
                'Guardar': function (event) {
                    $.post('alta', {
                        request: JSON.stringify(this.record)
                    }, (result) => {
                        alert('Resultado: ' + result);
                    });
                },
                'Listado': function (event) {
                    window.location = 'listadoUsuarios';
                },
                'Clear': function (event) {
                    console.log('clear', event);
                    this.clear();
                }
            }
        });
    });
</script>