<head>
    <title>W2UI Demo: forms-10</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />
</head>
<body>
    <div id="grid" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript">
        $(function () {
            $.get('getUsuarios', (resultados) => {
                $('#grid').w2grid({
                    recid: 'id',
                    name: 'grid',
                    show: { 
                        toolbar: true,
                        footer: true,
                        toolbarAdd: true,
                        toolbarDelete: true,
                        toolbarSave: false,
                        toolbarEdit: true
                    },
                    records: resultados,
                    searches: [                
                        { field: 'nombre', caption: 'Nombre', type: 'text' },
                        { field: 'email', caption: 'Correo', type: 'text' },
                        { field: 'creacion', caption: 'Fecha de creación', type: 'date' }
                    ],
                    columns: [
                        {field: 'nombre', text: 'Nombre', size: '40%'},
                        {field: 'email', text: 'Correo', size: '40%'},
                        {field: 'creacion', text: 'Creación', size: '30%'}
                    ],
                    onAdd: function (event) {
                        $().w2form({
                            name: 'form',
                            fields: [
                                {
                                    field: 'nombre',
                                    type: 'text',
                                    required: true,
                                    html: {
                                        label: 'Nombre',
                                        attr: 'style="width: 300px"'
                                    }
                                },
                                {
                                    field: 'email',
                                    type: 'text',
                                    required: true,
                                    html: {
                                        label: 'Correo',
                                        attr: 'style="width: 300px"'
                                    }
                                },
                                {
                                    field: 'password',
                                    type: 'password',
                                    html: {
                                        label: 'Contraseña',
                                        attr: 'style="width: 300px;"'
                                    }
                                }
                            ],
                            actions: {
                                'Guardar': function (event) {
                                    $.post('alta', {
                                        request: JSON.stringify(this.record)
                                    }, (result) => {
                                        window.location.reload();
                                    });
                                },
                                'Listado': function (event) {
                                    window.location = 'listadoUsuarios';
                                },
                                'Clear': function (event) {
                                    console.log('clear', event);
                                    this.clear();
                                }
                            }
                        });
                        $().w2popup('open', {
                            title   : 'Alta',
                            body    : '<div id="form" style="width: 100%; height: 100%;"></div>',
                            style   : 'padding: 0px 0px 0px 0px',
                            width   : 500,
                            height  : 300, 
                            showMax : true,
                            onToggle: function (event) {
                                $(w2ui.foo.box).hide();
                                event.onComplete = function () {
                                    $(w2ui.foo.box).show();
                                    w2ui.foo.resize();
                                };
                            },
                            onOpen: function (event) {
                                event.onComplete = function () {
                                    // specifying an onOpen handler instead is equivalent to specifying an onBeforeOpen handler, which would make this code execute too early and hence not deliver.
                                    $('#w2ui-popup #form').w2render('form');
                                };
                            }
                        });
                    },
                    onEdit: function (event) {
                        var grid = this;
                        event.onComplete = function () {
                            var sel = grid.getSelection();
                            var record = $.extend(true, {}, grid.get(sel[0]));
                            $().w2form({
                                name: 'form',
                                record: record,
                                fields: [
                                    {
                                        field: 'nombre',
                                        type: 'text',
                                        required: true,
                                        html: {
                                            label: 'Nombre',
                                            attr: 'style="width: 300px"'
                                        }
                                    },
                                    {
                                        field: 'email',
                                        type: 'text',
                                        required: true,
                                        html: {
                                            label: 'Correo',
                                            attr: 'style="width: 300px"'
                                        }
                                    },
                                    {
                                        field: 'password',
                                        type: 'password',
                                        html: {
                                            label: 'Contraseña',
                                            attr: 'style="width: 300px;"'
                                        }
                                    }
                                ],
                                actions: {
                                    'Guardar': function (event) {
                                        $.post('cambio', {
                                            request: JSON.stringify(this.record)
                                        }, (result) => {
                                            window.location.reload();
                                        });
                                    },
                                    'Cancelar': function (event) {
                                        console.log('clear', event);
                                        this.clear();
                                        this.close();
                                    }
                                }
                            });
                            $().w2popup('open', {
                                title   : 'Editar usuario',
                                body    : '<div id="form" style="width: 100%; height: 100%;"></div>',
                                style   : 'padding: 0px 0px 0px 0px',
                                width   : 500,
                                height  : 300, 
                                showMax : true,
                                onToggle: function (event) {
                                    $(w2ui.foo.box).hide();
                                    event.onComplete = function () {
                                        $(w2ui.foo.box).show();
                                        w2ui.foo.resize();
                                    };
                                },
                                onOpen: function (event) {
                                    event.onComplete = function () {
                                        // specifying an onOpen handler instead is equivalent to specifying an onBeforeOpen handler, which would make this code execute too early and hence not deliver.
                                        $('#w2ui-popup #form').w2render('form');
                                    };
                                }
                            });
                        };
                    },
                    onDelete: function (event) {
                        //console.log(event);
                        var seleccion = w2ui.grid.getSelection();
                        event.onComplete = function () {
                            $.post('baja', {
                                request: JSON.stringify({listaUsuarios: seleccion})
                            }, (obj)=>{
                                console.log(obj);
                            });
                        };
                    }
                });
            });
        });
    </script>