<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background-color: black;
            color: azure;
        }
    </style>
</head>
<body>
    <!--<form method="" target="">-->
    <form>
        <div style="display: block">
            <label>
                Usuario: 
            </label>
            <input type="text" name="username">
        </div>
        <div style="display: block">
            <label>
                Contraseña: 
            </label>
            <input type="password" name="password">
        </div>
        <div style="display: block">
            <input type="submit" value="Ingresar">
        </div>
        <p th:text="'Error, ' + ${error} + '!'" />
    </form>
</body>
</html>