<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    +++ 
    <p th:text="'Hello, ' + ${username} + '!'" />
    <p th:text="'Hello, ' + ${password} + '!'" />
</body>
</html>